*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 1200px;
    margin: 100px auto;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
    flex-wrap: wrap;
    border-radius: 5px;
}

.single-counter h2 {
    color: white;
    font-size: 23px;
}

.single-counter span {
    display: block;
    font-size: 40px;
}

.single-counter {
    text-align: center;
    padding: 20px 0px;
}